.India{
    font-size: 40px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.Westbengal{
    color: tomato;
    font-size: 50px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}