*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:992px) {
    .row{
        flex-direction: row;
    }
    .column{
        flex: 50%;
       
    }
    
}
@media screen and (max-width:600px) {
    .row{
        flex-direction: column;
    }
    
}