.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 1200px;
    height: 5rem;
    background-color: #7b16ee;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    text-align: center;
  }
  
  .img {
    width: 1350px;
    height: 600px;
  }
  h1{
    text-align: center;
  }
 

