h1{
    text-align: center;
    color: green;
}
.card{
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    height: 471px;
    width: 350px;
    box-shadow: 0px 10px 8px 0px gray;
}
.i1{
    width: 345px;
    height: 100px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    padding: 0px;
    letter-spacing: 3px;
    border: 2px blue solid;
}
.button1{
    height: 70px;
    width: 83px;
    background-color:#5f4BB6;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0px white solid;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
}
.button{
    height: 70px;
    width: 83px;
    background-color: #1f2326;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0px white solid;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
}
.one{
    background-color: black;
}
.button:hover{
    background-color: pink;
}
.button1:hover{
    background-color:teal;
}
.style{
    background-color: orange;
}
.card:hover{
    box-shadow: 5px 10px 8px 6px yellowgreen;
}
.style:hover{
    background-color:chocolate
}